body {
  font-size: 18px;
}

@for $i from 1 through 6 {
  h#{$i} {
    color: var(--color-blue);
  }
}

:root {
  --color-green: #41b883;
  --color-blue: #35495e;
}

*:focus {
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  padding: 10px 25px;
  outline: none;
  color: #ffffff;
  border: none;
  font-size: 18px;
  font-weight: bold;
  background: var(--color-green);
  margin: 20px;
  flex-grow: 1;
  transition: all 0.3s;
}

button:hover {
  background: var(--color-blue);
}

/**
* Colors
*
**/

.disabled {
  filter: brightness(50%);
}

.important {
  background: #b8b141;
}

.focus {
  background: var(--color-blue);
}